<table cellspacing="0" cellpadding="0" border="0" width="100%" style="width: 100% !important;">
  <tr>
    <td align="left" valign="top" width="600px" height="10" style="border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 10px;">
      <!--[if gte mso 15]>&nbsp;<![endif]-->
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" width="600px" height="1" style="background-color: #f0f0f0; border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 1px;">
      <!--[if gte mso 15]>&nbsp;<![endif]-->
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" width="600px" height="10" style="border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height: 10px;">
      <!--[if gte mso 15]>&nbsp;<![endif]-->
    </td>
  </tr>
</table>
