{% extends "root.html.njk" %} {% block content %} Kia ora,
{{user.profile.name}}!

You have claimed the task "{{task.title}}". It is now your responsibility to
fulfil. 

If you have any problems doing this, please let your area co-ordinator know.

Thank you,
The Aroha Network 

{% endblock %}
