 {% block brand %} MANZ Logo
[https://aroha-assets.s3-ap-southeast-2.amazonaws.com/branding/LogoWithWebsite.png]
[https://mutualaid.org.nz]{% endblock %} {% include "hr.html.njk" %} {% block
content %} Email content

{% endblock %} {% block footer %} You are being sent this email as you are a
registered user of the Aroha platform.

Questions? Email ops@mutualaid.org.nz [ops@mutualaid.org.nz]

{% endblock %}
